/* HERO */
.about-hero {
  padding: 120px 0 80px;
  text-align: center;
}

.about-hero h1 {
  font-size: 3rem;
  font-weight: 800;
}

.about-hero h1 span {
  color: var(--primary-blue);
}

.about-hero p {
  color: #6c757d;
  margin: 20px 0 30px;
}

.hero-buttons a {
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s ease;
}

.primary-btn {
  background: var(--primary-blue);
  color: #fff;
}

.primary-btn:hover {
  background: var(--primary-blue-hover);
}

.secondary-btn {
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
}

.secondary-btn:hover {
  background: var(--primary-blue);
  color: #fff;
}

/* FEATURES CARDS */
.feature-card {
  background: #fff;
  padding: 35px 20px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.feature-card svg {
  color: var(--primary-blue);
  margin-bottom: 15px;
}

.feature-card h5 {
  margin-bottom: 10px;
  font-weight: 700;
}

.feature-card p {
  color: #495057;
}

.feature-card:hover {
  transform: translateY(-8px);
}

/* PROCESS STEPS */
.step-box {
  background: #fff;
  padding: 30px 15px;
  border-radius: 16px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.step-box span {
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-blue);
  margin-bottom: 10px;
}

.step-box p {
  margin: 0;
  color: #495057;
}

.step-box:hover {
  transform: translateY(-8px);
}

/* CTA */
.about-cta {
  padding: 80px 0;
  background: var(--primary-blue);
  /* color: #fff; */
  text-align: center;
}

.about-cta a.white {
  background: #fff;
  color: var(--primary-blue);
  padding: 10px 18px;
  border-radius: 3px;
}
