.register-section {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
  padding: 10px;

  flex-wrap: wrap;
  width: 100%;
}
.register-left-container {
  flex: 1 1 auto;
}
.register-right-container {
  flex: 1 1 auto;
}
.register-header {
  background-color: #ffbe57;

  width: 100%;
}
.register-card {
  /* box-shadow: 0 0 4px lightgray; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register-form-container {
  background: #ffffff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  /* padding: 4px; */

  width: 100%;
  /* max-width: 450px; */
  transition: 0.3s ease;
  box-shadow: 0 0 4px lightgray;
  padding: 0px 23px;
  border: 1px solid lightgray;
}

.icon-wrapper {
  width: 70px;
  height: 70px;
  background: white;
  color: gray;
  font-size: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.custom-input .input-group-text {
  background: #f1f3f5;
  border-right: none;
}

.custom-input .form-control {
  border-left: none;
}

.custom-input .form-control:focus {
  box-shadow: none;
  border-color: #212529;
}

.password-toggle {
  cursor: pointer;
  background: #f1f3f5;
}

.register-btn {
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  background-color: var(--primary-blue) !important;
  border: none;
}

.register-btn:hover {
  background-color: #343a40;
  transform: scale(1.02);
}

.login-link {
  text-decoration: none;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
}
