.register-section {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #f8f9fa, #e9ecef); */
  padding: 40px 15px;
}
.register-header {
  background-color: var(--primary-blue);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 4px;
  
}
.register-card {
  box-shadow: 0 0 4px lightgray;
   max-width: 450px;
  /* border: 1px solid black;
  max-width:  450px; */
}
.register-form-container {
  background: #ffffff;
  /* padding: 4px; */
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
  transition: 0.3s ease;
  /* box-shadow: 0 0 4px lightgray; */
  padding: 0px 23px;
}

.register-card:hover {
  /* transform: translateY(-5px); */
}

.icon-wrapper {
  width: 70px;
  height: 70px;
  background: white;
  color: gray;
  font-size: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.custom-input .input-group-text {
  background: #f1f3f5;
  border-right: none;
}

.custom-input .form-control {
  border-left: none;
}

.custom-input .form-control:focus {
  box-shadow: none;
  border-color: #212529;
}

.password-toggle {
  cursor: pointer;
  background: #f1f3f5;
}

.register-btn {
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
   background-color: var(--primary-blue) !important;
}

.register-btn:hover {
  background-color: #343a40;
  transform: scale(1.02);
}

.login-link {
  text-decoration: none;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
}
