.login-section {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #f8f9fa, #e9ecef); */
  padding: 40px 15px;
}

.login-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  transition: 0.3s ease;
}

.login-card:hover {
  /* transform: translateY(-5px); */
}

.icon-wrapper {
  width: 70px;
  height: 70px;
  background: #212529;
  color: #fff;
  font-size: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.custom-input .input-group-text {
  background: #f1f3f5;
  border-right: none;
}

.custom-input .form-control {
  border-left: none;
}

.custom-input .form-control:focus {
  box-shadow: none;
  border-color: #212529;
}

.password-toggle {
  cursor: pointer;
  background: #f1f3f5;
}

.login-btn {
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  background-color: var(--primary-blue) !important;
}

.login-btn:hover {
  background-color: #343a40;
  transform: scale(1.02);
}

.register-link {
  text-decoration: none;
  font-weight: 600;
}

.register-link:hover {
  text-decoration: underline;
}
