/* Fix flex layout issue */

.content-wrapper {
  flex: 1;
}

/* Scroll container */
.table-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Force table to be wider than container */
.category-table {
  min-width: 900px; /* Adjust if needed */
}

/* Prevent text wrapping */
.category-table th,
.category-table td {
  white-space: nowrap;
}

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-btn {
  color: #dc3545;
}
.professional-btn {
  background-color: var(--primary-blue);
  border: 0px;
  padding: 8px 23px;
  border-radius: 3px;
}
