.rightbar-main-container {
  width: 100%;
}
.rightbar-container {
  display: flex;
  /* background: #7eff05; */
  width: 100%;
  min-height: 100vh;
}

/* Main content area */
.rightbar-content {
  width: 85%;
  /* flex: 8; */
  /* padding: 20px 24px; */
}
@media (max-width: 576px) {
  .rightbar-content {
    width: 65%;
  }
}
