/* WRAPPER */
.job-wrapper {
  /* max-width: 1100px; */
  margin: 80px 0;
  padding: 0 20px;
  display: flex;
  justify-content:center ;
  /* align-items: center; */
  flex-wrap: wrap;
  flex-direction: column;
}

/* HEADER */
.job-header {
  margin-bottom: 50px;
}

.job-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111827;
}

.company-name a {
  font-size: 1.1rem;
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

.job-meta {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: #6b7280;
  font-size: 0.95rem;
}

.job-meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* BODY LAYOUT */
.job-body {
  display: flex;
  /* grid-template-columns: 2fr 1fr; */
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

/* MAIN CONTENT */
.job-content h3 {
  font-size: 1.4rem;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #111827;
}

.job-content p {
  line-height: 1.8;
  color: #374151;
  margin-bottom: 15px;
}

.job-content ul {
  padding-left: 20px;
}

.job-content li {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #374151;
}

/* SIDEBAR */
.job-sidebar {
  position: sticky;
  top: 100px;
  height: fit-content;
}

.apply-btn {
  width: 100%;
  padding: 14px;
  background: var(--primary-blue);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.apply-btn:hover {
  background: #4f46e5;
}

.save-btn {
  width: 100%;
  padding: 14px;
  background: #f3f4f6;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact-email {
  font-size: 0.9rem;
  color: #6b7280;
}

.contact-email a {
  display: block;
  margin-top: 5px;
  color: #4f46e5;
  text-decoration: none;
}

/* LOADING */
.loading-wrapper {
  text-align: center;
  padding: 120px 0;
  font-size: 1.2rem;
}