/* Sidebar base */
.leftbar {
  width: 15%;
  background: var(--bg-sidebar);

  border-right: 1px solid var(--border-light);
  flex: 1;
}

/* Brand */
.leftbar-brand {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 18px 0;
  /* margin-bottom: 20px; */
}

.leftbar-brand h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.leftbar-brand h5 span {
  color: var(--primary-blue);
}

/* Navigation links */
.leftbar-nav {
  display: flex;
  flex-direction: column;
  padding: 1px;
  /* background-color: green; */
  width: 100%;
  /* border: 2px solid green; */
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0px;
  font-size: 1rem;
  color: var(--text-dark);
  text-decoration: none;
  border-radius: 3px;
  /* text-align: end !important; */
  /* padding-left: 40px; */
  /* transition:background 0.2s, */
  /* color 0.2s; */
}

.link:hover {
  background: var(--primary-blue-hover);
  color: #fff;
}

.link.active {
  background: var(--primary-blue);
  color: #fff !important;
  margin: 2px 0px;
}

.leftbar-icon {
  font-size: 1.6rem;
  color: gray;

  padding-left: 10px;
}

/* Footer / logout */
.leftbar-footer {
  padding: 8px 14px;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 0;
  font-size: 0.875rem;
  width: 100%;
  background: #f87171; /* subtle red */
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.2s;
}

.logout-btn:hover {
  background: #ef4444;
}

/* Large Desktop */
@media (max-width: 1400px) {
}

/* Desktop */
@media (max-width: 1200px) {
}

/* Small Laptop */
@media (max-width: 1024px) {
}

/* Tablet */
@media (max-width: 768px) {
}

/* Large Mobile */
@media (max-width: 576px) {
}

/* Small Mobile */
@media (max-width: 576px) {
  .leftbar {
    width: 35%;
    background: var(--bg-sidebar);
    /* display: flex; */
    /* flex-direction: column; */
    border-right: 1px solid var(--border-light);
    flex: 1;
    /* background-color: red; */
  }
}
